{% extends 'base.html.twig' %}

{% block title %}
  Products
{% endblock %}

{% block body %}
  <h1>Hello Home</h1>
  {% include 'page/_product.html.twig' with { products: products } %}
{% endblock %}
