<div class="p-3 mb-3 bg-dark text-white rounded">
  <p class="mb-0">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, et quia repellendus <strong>reiciendis ipsam</strong> consectetur aliquid itaque id vitae, dolore modi sed eos. Quibusdam hic nihil modi nesciunt minima, sed tempore quidem aperiam iusto repellat nemo officia rem omnis rerum odit! Deleniti incidunt perferendis eos, quis nulla magnam delectus commodi temporibus.
  </p>
</div>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, laborum.</p>
<a href="#" class="btn btn-warning btn-lg">Comentarios</a>
